
.text_center{
  text-align: center;
}

.header_right_container{
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: center;
}

.m-2{
  margin: 20px;
}

/* index.css */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}
.MuiAutocomplete-listbox{
  font-size: 12px
}
.MuiAutocomplete-noOptions{
  font-size: 12px
}

h1,h2,h3,h4,h5,h6{
  margin: 0 ;
}